.custom-color {
    background: linear-gradient(to right, #e24343, #eb5c31);
    color: white;
}

.navbar {
    background-color: #fff;
    height: 50px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar li {
    /* color: #66757f; */
    color: white;
    font-size: 16px;
    font-weight: light;
    text-decoration: none;
}

.navbar-brand {
    padding-left: 15px;
    font-size: 20px;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #c6cacc;
}

ul.nav.navbar-nav {
    align-items: center;
}

ul.nav.navbar-nav li {
    margin: 0 1rem;
    /* display: flex; */
}

nav form.navbar-form {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0)
}

.clickable-item {
    cursor: pointer;
}

.clickable-item:hover {
    background-color: #eeeeee;
}

/* Custom CSS for color customization */
/* Adjust text color */
.text-color {
    color: white;
    padding: 20px;
}

.color {
    color: white;
}

/* Styling for the recipe container */
.recipe-container {
    width: 80%;
    margin: 0 auto;
}

/* Styling for the image */
.recipe-image {
    max-width: 100%;
    height: auto;
}

/* Styling for the ingredients list */
.ingredients-list {
    list-style: circle;
    margin-left: 20px;
}

/* Styling for each ingredient item */
.ingr-item {
    margin-bottom: 5px;
}

/* Styling for the instructions */
.instructions {
    margin-top: 0;
    padding-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.button-form {
    display: flex;
    align-items: center;
    color: white;
}