<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spoontaneous</title>

    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuzzysort@2.0.4/fuzzysort.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg custom-color">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <span>Spoontaneous</span>
                </a>
            </div>
            <form id="searchform" class="navbar-form">
                <input type="text" class="form-control" id="search" placeholder="Type in an ingredient" autofocus>
            </form>
            <ul class="nav navbar-nav">
                {% if not user %}
                <li><a href="/register">sign up</a></li>
                <li><a href="/login">log in</a></li>
                {% else %}
                <li><a href="/saved-recipes">{{user.username}}'s recipes</a></li>
                <li><a href="/logout">log out</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script src="../static/app.js"></script>
</body>

</html>