{% extends 'base.html' %}

{% block content %}
<h1>Spoontaneous</h1>

<form id="searchform">
    <input type="text" id="search" placeholder="Type in an ingredient">
    <button>Give Me A Recipe!</button>
</form>
{% if user %}
<main data="{{user.username}}">
    {% else %}
    <main>
        {% endif %}
    </main>

    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fuzzysort@2.0.4/fuzzysort.min.js"></script>
    <script src="../static/app.js"></script>
    {% endblock %}