{% extends 'base.html' %}

{% block content %}
<main data="{{recipe.idMeal}}" class="container my-5">
    <div class="card custom-color recipe-container">
        <h2 class="card-header text-color text-center d-flex justify-content-between">{{recipe.strMeal}}</h2><img
            src="{{recipe.strMealThumb}}" class="recipe-image">
        <h3 class="text-color mt-1 mb-0">Ingredients</h3>

        <ul class="ingredients-list">
            <li class="ingr-item">{{recipe.strMeasure1}} {{recipe.strIngredient1}}</li>
            <li class="ingr-item">{{recipe.strMeasure2}} {{recipe.strIngredient2}}</li>
            <li class="ingr-item">{{recipe.strMeasure3}} {{recipe.strIngredient3}}</li>
            <li class="ingr-item">{{recipe.strMeasure4}} {{recipe.strIngredient4}}</li>
            <li class="ingr-item">{{recipe.strMeasure5}} {{recipe.strIngredient5}}</li>
            <li class="ingr-item">{{recipe.strMeasure6}} {{recipe.strIngredient6}}</li>
            <li class="ingr-item">{{recipe.strMeasure7}} {{recipe.strIngredient7}}</li>
            <li class="ingr-item">{{recipe.strMeasure8}} {{recipe.strIngredient8}}</li>
            <li class="ingr-item">{{recipe.strMeasure9}} {{recipe.strIngredient9}}</li>
            <li class="ingr-item">{{recipe.strMeasure10}} {{recipe.strIngredient10}}</li>
            <li class="ingr-item">{{recipe.strMeasure11}} {{recipe.strIngredient11}}</li>
            <li class="ingr-item">{{recipe.strMeasure12}} {{recipe.strIngredient12}}</li>
            <li class="ingr-item">{{recipe.strMeasure13}} {{recipe.strIngredient13}}</li>
            <li class="ingr-item">{{recipe.strMeasure14}} {{recipe.strIngredient14}}</li>
            <li class="ingr-item">{{recipe.strMeasure15}} {{recipe.strIngredient15}}</li>
            <li class="ingr-item">{{recipe.strMeasure16}} {{recipe.strIngredient16}}</li>
            <li class="ingr-item">{{recipe.strMeasure17}} {{recipe.strIngredient17}}</li>
            <li class="ingr-item">{{recipe.strMeasure18}} {{recipe.strIngredient18}}</li>
            <li class="ingr-item">{{recipe.strMeasure19}} {{recipe.strIngredient19}}</li>
            <li class="ingr-item">{{recipe.strMeasure20}} {{recipe.strIngredient20}}</li>
        </ul>

        <h3 class="text-color mt-0 mb-0">Instructions</h3>
        <p class="instructions text-color">
            {{recipe.strInstructions}}
        </p>
    </div>
</main>

<script>
    function removeEmptyLi() {
        const list = document.querySelectorAll('li');
        for (let li of list) {
            if (!li.innerText || li.innerText == "None None") {
                li.remove();
            }
        }
    }

    removeEmptyLi();
    checkIfSaved(document.querySelector('main').getAttribute('data'));

    async function checkIfSaved(recipeId) {
        if (document.querySelector('main').getAttribute('data')) {
            const res = await axios.get('/api/saved-recipes');
            if (res.data.includes(parseInt(recipeId))) {
                displayUnsaveButton(recipeId);
            } else {
                displaySaveButton(recipeId);
            }
        }
    }
</script>

{% endblock %}