{% extends 'base.html' %}

{% block content %}
<main>
    <h2 data="{{recipe.idMeal}}">{{recipe.strMeal}}</h2><img src="{{recipe.strMealThumb + '/preview'}}">
    <h3>Ingredients</h3>

    <li>225g new potatoes</li>
    <li>100g green beans</li>
    <li>1 tbsp sunflower oil</li>
    <li>1 clove garlic</li>
    <li>4 tsp Thai green curry paste</li>
    <li>400ml coconut milk</li>
    <li>2 tsp Thai fish sauce</li>
    <li>1 tsp Sugar</li>
    <li>450g boneless Chicken</li>
    <li>2 fresh kaffir leaves lime</li>
    <li>handfull basil</li>
    <li>Boiled Rice</li>
    <h3>Instructions</h3>
    <p>
        {{recipe.strInstructions}}
    </p>
</main>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script>
    checkIfSaved(document.querySelector('h2').getAttribute('data'));

    async function checkIfSaved(recipeId) {
        const res = await axios.get('/api/saved-recipes');
        if (res.data.includes(parseInt(recipeId))) {
            displayUnsaveButton(recipeId);
        } else {
            displaySaveButton(recipeId);
        }
    }

    function displaySaveButton(recipeId) {
        const saveForm = document.createElement('form');

        const saveButton = document.createElement('button');
        saveButton.innerText = 'Save Recipe';
        saveForm.append(saveButton);
        document.querySelector('main').append(saveForm);

        saveForm.addEventListener('submit', async function (e) {
            e.preventDefault();
            displayUnsaveButton(recipeId);
            saveButton.remove();

            try {
                await axios.post(`/saved-recipes/${recipeId}`);
            } catch (error) {
                saveForm.append('Already saved!');
            }
        });
    }

    function displayUnsaveButton(recipeId) {
        const unsaveForm = document.createElement('form');

        const unsaveButton = document.createElement('button');
        unsaveButton.innerText = 'Unsave Recipe';
        unsaveForm.append(unsaveButton);
        document.querySelector('main').append(unsaveForm);

        unsaveForm.addEventListener('submit', async function (e) {
            e.preventDefault();
            displaySaveButton(recipeId);
            unsaveButton.remove();

            try {
                await axios.delete(`/saved-recipes/${recipeId}`);
            } catch (error) {
                unsaveForm.append('It was never saved!');
            }
        });
    }
</script>

{% endblock %}